:root {
    --color-white:#fff;
    --color-gray:#4c4c51;
    --color-text:#1a1a1f;
    --color-black:#000000;
    --color-blue:#0078d4;
    --container-width:86.5%;
}

* {
    box-sizing: border-box;
}

html,body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI',SegoeUI,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

/* common classes */

.flex-item {
    display: flex;
    align-items: center;
}

.flex-justify {
    display: flex;
    justify-content: center;
}

.flex-justify-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover,a:hover { text-decoration: underline; }

a { text-decoration: none; }

.show { display: block;}

.padd-15 {padding: 0 15px;}

/* responsive */
.col-d-25 {width: 25%;}
.col-d-40 {width: 40%;}
.col-d-50 {width: 50%;}
.col-d-60 {width: 60%;}
.col-d-75 {width: 75%;}
.col-d-86 {width: 86%;}
.col-d-100 {width: 100%;}
.col-d-hide {display: none;}



/*** HEADER ***/
header {
    width: 100%;
    background-color: var(--color-white);
    color: var(--color-text);
}

.header-container nav:first-child {
    padding: 0 12px;
    caret-color: transparent;
}

.header-container a {
    color: inherit;
}

.header-container img {
    height: 24px;
    float: left;
}

.header-name {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    padding: 0 0 0 24px;
    color: var(--color-text);
}

.header-container ul {
    margin: 2px;
    display: flex;
    align-items: center;
    list-style-type: none;
}

.header-container ul a {
    border-style:dashed;
    border-color: var(--color-white);
    border-width: 1px;
    padding: 0 6px 0 0;
}
.header-container ul a.header-bg-line {
    border-color: var(--color-black);
    background-color: #f4f5f6;
}

.header-container ul a:active {
    border-color: var(--color-black);
}

/* .header-container ul a:target div {
    display: flex;
} */

.header-container nav button {
    all: unset;
    cursor: pointer;
    font-size: 13px;
    font-weight: 400;
    padding: 16px 7px 16px 6px;
}
/* .nav-button2 {
    all: unset;
    cursor: pointer;
    font-size: 13px;
    font-weight: 400;
    padding: 16px 7px 16px 6px;
} */

header .nav-button::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 1L9 6L4 11' stroke='black'/%3E%3C/svg%3E");
    content: "";
    width: 8px;
    height: 8px;
    margin: 5px 0 0 4px;
    transform:rotate(90deg);
    display: inline-block;
    position: absolute;
}

/* .nav-button:active::after {
    transform: rotate(270deg);
    transition: transform .25s 0s;
} */

.nav-second {
    white-space:nowrap;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.nav-form div {
    background-color: #f8f9fa;
    border-radius: 4px;
    min-height: 32px;
    width: 120px;
    border: 1px solid #747479;
    transition: width 200ms ease-in;
}

.nav-form input {
    background-color: #f8f9fa;
    color: var(--color-gray);
    font-size: 13px;
    margin: 5px 24px 5px 12px;
    width: 100%;
    /* min-width: 60px; */
    /* max-width: 60px; */
    border: none;
    outline: none;
}
.nav-form div:focus-within {
    width: 100%;
}
.nav-form input:focus {
    width: 600px;
}

.button-free{
    background-color: #89c402;
    border: 1px solid #6f9e02;
    border-radius: 4px;
    color: #1a1a1f;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    padding: 9px;
    line-height: 1;
    text-align: center;
}

.button-free:hover {
    background-color: #9bdd02;
    text-decoration: underline;
}
.dropdown-container {
    left: 0;
    position: absolute;
    width: 100%;
    height: auto;
    display: none;
    justify-content: center;
    z-index: 999;
}
.dropdown-container-show {
    left: 0;
    position: absolute;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    z-index: 999;
}
header .nav-button.header-arrow-anime::after {
    transform: rotate(270deg);
    transition: transform .25s 0s;
}

/* .header-container ul a {
    border-color: var(--color-black);
    background-color: #f4f5f6;
} */

.dropdown {
    margin: 3px 0;
    padding: 0 15px;
    background-color: #f4f5f6;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 25%);
    width: var(--container-width);
}

/* .nav-form input:focus {
    background-color: #0078d4;
    max-width: 600px;
} */

/* .nav-form input:focus + .header-container nav:first-child {
    display: none;
} */

.nav-form button {
    /* background-color: #747479; */
    all: unset;
}

.nav-form img {
    height: 15px;
    width: auto;
    padding: 0 6px;
}


/**************************** slide down bar */
.slide-down {
    background-color: var(--color-white);
    position: fixed;
    opacity: 0;
    z-index: 0;
    pointer-events: none;
    top: 0;
    width: 100%;
    transform: translateY(100%);
    transition: none 180ms ease-in 10ms;
    box-shadow: 0 0 8px -1px rgb(0 0 0 / 25%);
    transition-property: transform,z-index;
}

.slide-down-scroll {
    background-color: var(--color-white);
    position: fixed;
    opacity: 100%;
    z-index: 999;
    pointer-events: auto;
    top:0px;
    width: 100%;
    transform: translateY(0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: none 180ms ease-in 10ms;
    box-shadow: 0 0 8px -1px rgb(0 0 0 / 25%);
}

.button-contact {
    color: var(--color-gray);
    border-color: #000;
    border: 1px solid #6f9e02;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    padding: 9px;
    line-height: 1;
    text-align: center;
}

.button-contact:hover {
    background-color: #0078d4;
    color: #fff;
}






/*** MAIN CONTENT ***/
/* common elements */
.card {
    /* background-color: #fff; */
    box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
    border-radius: 6px;
    /* color: #4c4c51; */
    border: 1px solid transparent;
}

.card:hover {
    cursor: pointer;
    transition: all .2s ease-in-out;
    box-shadow: 0 5px 10px rgb(0 0 0 / 14%);
}

/**************************** explore azure */
.explore-azure {
    background-color: var(--color-blue);
    text-align: center;
    padding: 12px 15px;
    font-size: 14px;
}

.explore-azure a{
    color: var(--color-white);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    align-items: center;
    text-decoration: none;
}

.explore-azure:hover {
    text-decoration: underline;
}

.explore-azure a::after,.self-taught-div a::after,.cutomer-content-div a::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 1L9 6L4 11' stroke='%23ffffff'/%3E%3C/svg%3E");
    content: '';
    background-repeat: no-repeat;
    margin: 5px 0 0 4px;
    width: 12px;
    height: 12px;
    display: inline-flex;
    position: absolute;
    vertical-align: middle;
}

.explore-azure a:hover::after,.self-taught-div a:hover::after,.azure-products-prdt ul li a:hover::after,.cutomer-content-div a:hover::after {
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    margin-left: 0.4em;
}

/**************************** AZURE. INVENT WITH PURPOSE. */
.body-banner {

}

.banner {
    background-image: url('https://azurecomcdn.azureedge.net/cvt-3474992b55ef7111c885a238858dce511933a514e0cae6a566a9fabcad6ff0a1/images/page/home/hero-desktop.webp');
    background-size: cover;
    /* object-fit: cover; */
    height: 100vh;
    width: auto;
    background-position: center;
    overflow: hidden;
}

/*
.banner-img {
    width: 100%;
} */

/* .banner1d img{
    object-fit: cover;
    height: 100%;
    width: 100%;
} */

.body-banner-text {
    height: 100%;
    display: flex;
    justify-content: center;

}

.banner-text {
    width: var(--container-width);
    position: relative;
    height: 60%;
}

.banner-text-width {
    width: 50%;
    position: absolute;
    bottom: 0;
    padding: 0 15px;
}

.banner-text-width p:first-child {
    color: #0062ad;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
    margin: 0 0 9px;
}

.banner-text-width h1 {
    font-size: 54px;
    font-weight: 600;
    line-height: 1.1;
    margin: 0 0 12px;
}

.banner-text-width p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    margin: 0 0 9px;
}

.button-blue {
    color: #fff;
    background-color: #0078d4;
    border: 1px solid #0078d4;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    margin-right: 20px;
    padding: 10px 16px;
}

.button-blue:hover {
    background-color: #006abb;
}

.button-w-blue {
    background-color: transparent;
    border: 1px solid #0078d4;
    border-radius: 4px;
    color: #0062ad;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 16px;
    transition-property: background-color;
}

.button-w-blue:hover {
    cursor: pointer;
    transition: color .2s ease-in-out;
    background-color: #0078d4;
    color: var(--color-white);
}


/**************************** On-premises, hybrid, multicloud, or at the edge—create secure, future-ready cloud solutions on Azure */
.on-premise {
    padding: 60px 0;
}

.on-premise-heading {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 36px 0;
}

.on-premise-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;
    column-gap: 30px;
    row-gap: 24px;
}

.on-premise-grid1 {
    grid-row-start: 1;
    grid-row-end: 3;
}

.on-premise-grid1 {
    padding: 24px;
}

.on-premise-grid2 div:nth-child(2),.on-premise-grid3 div:nth-child(2) {
    padding: 24px 24px 24px 12px;
    /* border: 0; */
}
.on-premise-grid2 img,.on-premise-grid3 img {
    /* width: 100%; */
    max-width: 156px;
    /* height: auto; */
    max-height: 158px;
    /* max-width: 156; */
    object-fit: contain;
    border: 0;
}

.on-premise-grid h2 {
    color: #0062ad;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
    margin: 0;
}
.on-premise-grid > div:hover h2 {
    text-decoration: underline;
}
.on-premise-grid h2:hover { color: #002847;}
.on-premise-grid p {
    color: #4c4c51;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 12px 0;
}
.on-premise-button {
    padding: 62px 39px 24px 39px;
}
.on-premise-button div {
    flex-wrap: wrap;
}
.on-premise-button span {
    font-size: 16px;
    color: #1a1a1f;
    font-weight: 600;
}

/**************************** Start putting your ideas into action with Azure products and services */
.azure-products {
    padding: 60px 0;
    background-color: #f8f9fa;
}
.azure-products h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    /* margin: 0 0 12px; */
}
.azure-products-body {
    display: flex;
    flex-wrap: wrap;
}
.azure-products-img{
    padding-left: 36px;
}
.azure-products-img:hover{
    transform: translateX(-36px);
    transition: transform .5s;
    cursor: pointer;
}
.azure-products-img img {
    max-height: 530px;
    border-radius: 12px;
    background-color: #000;
    padding: 10%;
    box-shadow: 0 10px 20px rgb(0 0 0 / 14%);

}
.azure-products-img button {
    all: unset;
    color: #0062ad;
    display: inline-block;
    font-size: 14px;
    position: relative;
    padding: 0 12px 0 40px;

}
.azure-products-img button::before {
    content: '\1F814';
    /* color: #777; */
    font-weight: bold;
    align-items: center;
    font-size: 20px;
    float: left;
    /* line-height: 1; */
    /* transform: translateY(-2px); */

}
.hidden-elements {
    position: fixed;
    z-index: 99997;
    padding-top: 96px;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0,0,0,.9);
}
.hidden-elements img {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-height: 90vh;
    max-width: 100%;
    z-index: 99999;
    padding: 24px;
}
.hidden-elements button {
    background-color: transparent;
    border: 0;
    display: block;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    height: 36px;
    width: 36px;
    text-align: center;
    color: #fff!important;
    height: 48px;
    position: fixed;
    right: 12px;
    top: 12px;
    width: 20px;
    z-index: 99998;
}
.azure-products-list {
    display: flex;
}
.azure-products-prdt ol {
    padding: 0;
    margin: 0;
}
.azure-products-prdt ul {
    padding: 5px;
    margin-right: 5px;
    border-style: none;
    margin-bottom: 5px;
    list-style-type: none;
}
.azure-products-prdt ul.active-product {
    border-style: solid;
}
.azure-products-prdt button {
    all: unset;
    transition: all .2s ease-in-out;
    background-color: transparent;
    border-left: 4px solid transparent;
    color: #4c4c51;
    font-size: 16px;
    font-weight: 400;
    margin-left: -3px;
    padding: 12px;
    /* display: block; */
    text-decoration: none;
    width: 100%;
}
.azure-products-prdt button.active-product {
    color: var(--color-black);
    font-weight: 600;
    border-left-color: #0062ad;
}
.azure-products-prdt button.active-product:hover {
    color: var(--color-black);
}
.azure-products-prdt button:hover {
    color: #0062ad;
    text-decoration: underline;
    cursor: pointer;
}
.azure-products-prdt ul li a {
    color: #0062ad;
    padding-left: 12px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding-top: 12px;
}
.azure-products-prdt ul li a:hover {
    color: #4c4c51;
}
.azure-products-prdt ul li a::after {
    content: '>';
    font-size: 20px;
    color: #0062ad;
    /* transform: rotate(180deg); */
}

.azure-products-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 24px;
}
.azure-products-id-class{
    display: none;
}
/* .active-id {
    display: grid;
} */
.azure-products-id-class.active-idqaz{
    display: grid;
}
.azure-products-item-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* height: 100%; */
    /* justify-content: center; */
    padding: 24px;
    /* text-align: center; */
}
.azure-products-item img {
    width: 36px;
    height: 36px;
    /* display: flex; */
    /* justify-content: flex-start; */
    flex-grow: 2;
}
.azure-products-item p {
    /* display: flex; */
    /* justify-content: flex-end; */
    text-align: center;
    font-size: 16px;
    color: #4c4c51;
    flex-grow: 3;
}
.azure-products-item a {
    font-size: 14px;
    font-weight: 600;
    color: #0062ad;
    line-height: 1.3;
    /* display: flex; */
    /* justify-content: flex-end; */
    flex-grow: 1;
}
.azure-products-item:hover a {
    text-decoration: underline;
}


/**************************** Find out how these customers are innovating with Azure */
.customer {
    padding: 60px 0;
}
.customer-select ol {

}
.customer-select ul{
    border: 3px solid transparent;
    padding: 0;
    margin: 3px 3px 1px 3px;
}
.customer-select ul.active{
    border-color: var(--color-black);
}

.customer-select img{
    width: 150px;
    height: 84px;
    padding: 12px;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    filter: grayscale(100%)
}
.customer-select img.active{
    border-bottom-color: #0078d4;
    filter: grayscale(0);
    background-color: #f8f9fa;
}
.customer-select img:hover{
    filter: grayscale(0);
    background-color: #f8f9fa;
}
.cutomer-content {

}
.cutomer-content-div {
    display: none;
    position: relative;
}
.cutomer-content-div.active {
    display: block;
}
.cutomer-content-div img {
    width: 100%;
    height: auto;
}
.cutomer-content-div div {
    margin: 0 15px;
    left: 8%;
    width: 50%;
    position: absolute;
    bottom: 10%;
    /* right: 40%; */
    background-color: rgba(26,26,31,.94);
    box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
    border-radius: 6px;
    color: #f8f9fa;
    padding: 24px;

}
.cutomer-content-div p {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
}
.cutomer-content-div a {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}
.cutomer-content-div a:hover {
    text-decoration: underline;
}



/**************************** Accelerate your migration and modernisation with Azure */
.tools {
    background-color: #f8f9fa;
    padding: 60px 0;
}
.tools-body {
    padding: 36px;
    flex-wrap: wrap;
    /* margin: 0 -15px 0 0; */
}

.tools-body h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 36px 0;
}
/* .tools-body div:nth-child(1) {
    width: 100%;
}
.tools-body div:nth-child(2) {
    width: 100%;
} */

/**************************** Discover what is happening on Azure */
.discover {
    padding: 60px 0;
}

.discover-heading {
    text-align: center;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 24px 0;
}
.discover-grid {
    /* padding: 0 15px; */
    /* margin: 35px 0; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-auto-flow: row; */
    /* grid-template-rows: 300px; */
    column-gap: 30px;
    row-gap: 24px;
}
.d-g-item3 {
    grid-column-start: 3;
    grid-column-end: 6;
}
.d-g-item5 {
    grid-column-start: 2;
    grid-column-end: 4;
}
.g-grid-normal{
 /* max-width: 300px; */
}
.g-grid-normal img {
    /* display: block; */
    max-width: 100%;
    border-radius: 6px 6px 0 0;
    /* margin-left: auto; */
    /* margin-right: auto; */
}
.g-grid-normal p:nth-of-type(1) {
    color: #4c4c51;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
    padding: 0px 12px;
    /* text-decoration: none; */
}
.discover-grid a:hover p:nth-of-type(1){
    text-decoration: underline white;

}
.g-grid-normal p:nth-of-type(2) {
    color: #4c4c51;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    padding: 0px 12px;
}

.g-grid-back {
    position: relative;
    /* text-align: center; */
}


.g-grid-back img {
    max-width: 100%;
    border-radius: 6px;

}
.g-grid-back p:nth-of-type(2) {
    position: absolute;
    bottom: 24px;
    left: 24px;
    right: 24px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;

}

.g-grid-back p:nth-of-type(2):hover {
    text-decoration: underline;

}

/**************************** See how a self-taught developer helped level */
.self-taught {
    position: relative;
}
.self-taught img {
    width: 100%;
    height: auto;
}
.self-taught-div {
    position: absolute;
    top: 5%;
    left: 5%;
    margin: 15px;
    padding: 24px;
    border-radius: 6px;
    background-color: rgba(26,26,31,.94);
    color: #f8f9fa;
    width: 60%;
}

.self-taught-div p {
    color: #f4f5f6;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
}
.self-taught-div button {
    background-color: #0078d4;
    border: 0;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin-right: 20px;
    padding: 12px 16px 12px 48px;
    position: relative;
    width: auto;
}
.self-taught-div button:hover {
    background-color: #006abb;
    color: #fff;
}
.self-taught-div button:before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: #50e6ff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
}
.self-taught-div button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 6px solid #0078d4;
    top: 50%;
    transform: translateY(-50%);
    left: 26px;
}
.self-taught-div a {
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
    line-height: 1.5;
}
.self-taught-div a:hover {
    text-decoration: none;
}
.self-taught-play {
    all: unset;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/**************************** azure-support */
.azure-support {
    margin: 60px 0;
    display: grid;
    column-gap: 30px;
    row-gap: 24px;
    grid-template-columns: 1fr 1fr 1fr;
}
.azure-support div {
    padding: 24px;
}
.azure-support img {
    max-width: 48px;
    height: 48px;
}
.azure-support div:nth-of-type(1) {
    background-color: #243a5e;
}
.azure-support div:nth-of-type(2) {
    background-color: #242429;
}
.azure-support div:nth-of-type(3) {
    background-color: #0062ad;
}
.azure-support h3 {
    color: #f8f9fa;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
    margin: 20px 0 0 0;
}
.azure-support p {
    color: #f8f9fa;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 16px 0 0 0;
}




/*** FOOTER ***/

footer {
    padding: 48px 0 36px 0;
    background-color: #f4f5f6;
}

.social div:nth-of-type(1){
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #eaebec;
    color: #4c4c51;
    text-decoration: none;
    border-width: thin;
    border-color: var(--color-black);
    padding: 12px;
    margin-right: 26px;
}
.social div:nth-of-type(1):hover{
    text-decoration: underline;
    border-style: solid;
}
.svg-icon {
    cursor: pointer;
    margin-right: 26px;
    height: auto;
    width: 24px;
}
.svg-icon img:hover{
    filter: invert(27%) sepia(10%) saturate(258%) hue-rotate(201deg) brightness(96%) contrast(86%);
}
.social div:nth-of-type(1) span:nth-of-type(1){

}
.social div:nth-of-type(1) span:nth-of-type(2){
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3;
    color: #4c4c51;
}

.footer-nav {
    margin: 36px 0 0 0;
    display: grid;
    column-gap: 24px;
    grid-template-columns: repeat(6,1fr);
}
.footer-nav h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3;
    margin: 0 0 9px;
}
.footer-nav ul {
    /* display: block; */
    padding-left: 0;
    margin: 0;
}
.footer-nav li {
    list-style: none;
    width: 100%;
    margin-top: 12px;
    border-width: 2px;
}

.footer-nav li:active {
    border-style: solid;
}
.footer-nav a,.footer-mini a,.footer-mini label {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    padding: 2px 0;
}
.footer-mini {
    display: flex;
    min-height: 104px;
    margin: 36px 0 0 0;
    flex-wrap: wrap;
}
.footer-mini ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 0;
}
.footer-mini li {
    list-style: none;
    margin: 0 0 12px 16px;
}
.footer-mini a:active {
    border-width: 2px;
    border-style: solid;
}
.footer-mini div:nth-of-type(2) {
    display: flex;
    align-items: flex-end;
}
.footer-mini select {
    box-sizing: border-box;
    color: #1a1a1f;
    line-height: 1.2;
    font-size: 14px;
    padding: 5px;
    height: 36px;
    width: 50%;
    margin-top: 10px;
    border: 1px solid #747479;
}
.footer-mini select option {
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.footer-mini li:last-child a {
    font-weight: 600;
    pointer-events: none;
}

/**************************** Chat with Sales. */
.message {
    position: fixed;
    bottom: 0;
    right: 12px;
    z-index: 1000;
    font-weight: 350;
}
.message button {
    background-color: #0078d4;
    border: 1px solid #0078d4;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    min-height: 40px;
    padding: 10px 18px;
    width: auto;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    box-shadow: 0 -5px 10px rgb(0 0 0 / 14%);
    font-weight: 350;
    text-align: center;
    text-decoration: none;
    vertical-align: bottom;
}

/***************************************/

/**** design change less than 1310px ****/
@media only screen and (max-width: 1310px) {
/*** HEADER ***/

.col-1310-25 {width: 25%;}
.col-1310-50 {width: 50%;}
.col-1310-75 {width: 75%;}
.col-1310-86 {width: 86%;}
.col-1310-100 {width: 100%;}
.col-1310-hide {display: none;}

/*** MAIN CONTENT ***/

/**************************** AZURE. INVENT WITH PURPOSE. */
/* .banner-text {
    width: 100%;
} */


/*** FOOTER ***/

}


/**** design change less than 1280px ****/
@media only screen and (max-width: 1280px) {
    /*** HEADER ***/
    .col-1280-25 {width: 25%;}
    .col-1280-50 {width: 50%;}
    .col-1280-75 {width: 75%;}
    .col-1280-86 {width: 86%;}
    .col-1280-100 {width: 100%;}
    .col-1280-hide {display: none;}

    .nav-second {
    white-space:normal;
    }

    /*** MAIN CONTENT ***/

    /**************************** AZURE. INVENT WITH PURPOSE. */
    .banner{
        height: 70vh;
    }
    .banner-text {
        height: 90%;
    }

    /**************************** Find out how these customers are innovating with Azure */
    .cutomer-content-div div {
        left: 0%;
    }

    /*** FOOTER ***/

    }



/**** design change less than 1080px ****/
@media only screen and (max-width: 1080px) {
/*** HEADER ***/
/* responsive */
.col-1080-25 {width: 25%;}
.col-1080-50 {width: 50%;}
.col-1080-75 {width: 75%;}
.col-1080-86 {width: 86%;}
.col-1080-100 {width: 100%;}
.col-1080-hide {display: none;}

.banner{
    height: 80vh;
}

.slide-down-scroll {
  display: none;
}

/*** MAIN CONTENT ***/


/*** FOOTER ***/

}



/**** design change less than 960px ****/
@media only screen and (max-width: 960px) {

.col-960-25 {width: 25%;}
.col-960-50 {width: 50%;}
.col-960-75 {width: 75%;}
.col-960-86 {width: 86%;}
.col-960-100 {width: 100%;}
.col-960-hide {display: none;}
/*** HEADER ***/


/*** MAIN CONTENT ***/
/**************************** AZURE. INVENT WITH PURPOSE. */
.banner{
    background-image: url('https://azurecomcdn.azureedge.net/cvt-3474992b55ef7111c885a238858dce511933a514e0cae6a566a9fabcad6ff0a1/images/page/home/hero-tablet.webp');
    height:70vh;
}

/**************************** Start putting your ideas into action with Azure products and services */
.azure-products h2 {
    text-align: center;
}
.azure-products-img button {
    float: right;
    padding-top: 20px;
}


/**************************** Find out how these customers are innovating with Azure */
.customer-select img{
    display: none;
}
.customer-select img.active{
    display: block;
    background-color: transparent;
    border-bottom-color: transparent;
    cursor: auto;
    /* border-style: outset; */
}
.cutomer-content-div div {
    position: relative;
    width: 100%;
    margin: 0;
    background-color: #f8f9fa;
    box-shadow: none;
    /* left: 0; */
}
.cutomer-content-div p {
    color: #242429;
}
.cutomer-content-div a {
    color: #0062ad;
}
.cutomer-content-div a::after {
    content: ">";
    font-weight: 600;
}
.owl-dot {
    display: flex;
    
}
.owl-dot button {
    all: unset;
    font-size: 70px;
    padding: 22px;
}
.owl-dot button.active {
    color: #0062ad;
}





/**************************** Discover what is happening on Azure */
.discover-grid {
    grid-template-columns: repeat(3, 1fr);
}
.d-g-item3 {
    grid-column-start: 3;
    grid-column-end: 3;
}
.d-g-item5 {
    grid-column-start: 2;
    grid-column-end: 2;
}
.g-grid-back img {
    object-fit: cover;
    min-height: 260px;
    /* max-width: 100%; */
}

.g-grid-back p:nth-of-type(2) {
    font-size: 18px;

}

/**************************** See how a self-taught developer helped level */
/* .self-taught {
    position: relative;
}
.self-taught img {
    width: 100%;
    height: auto;
} */
.self-taught-div {
    position: relative;
    top: 0%;
    left: 0%;
    margin: 0px;
    padding: 24px;
    border-radius: 0px;
    background-color: white;
    color: #f8f9fa;
    width: 100%;
}

.self-taught-div p {
    color: #242429;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
}

.self-taught-div button {
    display: none;
}

.self-taught-div a {
    background-color: transparent;
    border: 1px solid #0078d4;
    border-radius: 4px;
    color: #0062ad;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 16px;
    transition: color .2s ease-in-out;
    transition-property: background-color;
    text-decoration: none;
}
.self-taught-div a:hover {
    background-color: #0078d4;
    color: #f8f9fa;
    transition: color .2s ease-in-out;
    text-decoration: underline;
    cursor: pointer;
}
.self-taught-div a::after {
    background-image: url("");
    content: '';
}

/**************************** azure-support */
.azure-support {
    grid-template-columns: 1fr;
}


/*** FOOTER ***/
.footer-nav {
    row-gap: 24px;
    grid-template-columns: 1fr;
}
.footer-nav h3 {
    background-color: #eaebec;
    padding: 12px 24px;
    border-radius: 4px;
}
.footer-nav ul {
    padding: 12px 24px;
}
.footer-nav ul.showing {
    display: block;
}
.footer-nav h3:hover {
    cursor: pointer;
}
.footer-nav h3:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    align-items: center;
    font-size: 20px;
    float: right;
    line-height: 1;
    transform: translateY(-2px);
  }
  .footer-nav h3.active:after {
    content: "\2212";
  }

}

/* @media only screen and (min-width: 960px) {
    .footer-nav ul {
        display: block;
    }
} */


/**** for mobile phones ****/
@media only screen and (max-width: 768px) {
/* responsive */
.padd-768-0 {padding: 0;}
.col-768-25 {width: 25%;}
.col-768-50 {width: 50%;}
.col-768-75 {width: 75%;}
.col-768-86 {width: 86%;}
.col-768-100 {width: 100%;}
.col-768-hide {display: none;}

/*** HEADER ***/
header {
    height: 78px;
}

.header-container nav {
    display: none;
}



/*** MAIN CONTENT ***/
/**************************** AZURE. INVENT WITH PURPOSE. */
.banner{
    background-image: url('https://azurecomcdn.azureedge.net/cvt-3474992b55ef7111c885a238858dce511933a514e0cae6a566a9fabcad6ff0a1/images/page/home/hero-tablet.webp');
    min-height:110vh;
    align-items: center;
}
.banner-text-width p, h1 {
    text-align: center;
}
.button-blue {
    width: 100%;
    margin-bottom: 15px;
}


/**************************** Start putting your ideas into action with Azure products and services */
.azure-products-img img {
  display: block;
  width: 100%;
  height: auto;
  padding: 3%
}
.azure-products-img{
    margin-top: 10px;
    padding-left: 15px;
    pointer-events: none;
}
.azure-products-img button {
  display: none;
}

/* .azure-products-prdt ul {
    padding: 0px;
    margin-right: 0px;
    border-style: none;
    margin-bottom: 5px;
    list-style-type: none;
} */
.azure-products-prdt button {
  /* transition: all .2s ease-in-out; */
  /* align-items: center; */
  /* background-color: #fff; */
  /* border: 0; */
  /* border-bottom: 1px solid #eaebec; */
  border-radius: 4px;
  border-left: 0px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
  /* color: #1a1a1f; */
  /* display: flex; */
  /* font-weight: 600; */
  /* height: auto; */
  /* justify-content: space-between; */
  padding: 15px;
  margin: 0 0px 4px;
  /* min-height: 60px; */
  /* padding: 12px 24px 12px 12px; */
  width: calc(100% - 20px)
}
.azure-products-prdt button::after {
    content: '\2304';
    /* color: var(--color-black); */
    font-weight: bold;
    align-items: center;
    font-size: 20px;
    float: right;
    line-height: 1;
    transform: translateY(-2px);
}
.azure-products-prdt button.active-product::after {
    content: '\2303';
}
.azure-products-prdt button.active-product {
    border-left: 3px;
    color: #0062ad;
    text-decoration: underline;
    border-style: solid;
    border-color: #0062ad;
}
.azure-products-hide {
  display: block;
}
.azure-products-item {
    grid-template-columns: 1fr 1fr;
}
.azure-products-item:last-child {
    padding-bottom: 15px;
}

/**************************** Find out how these customers are innovating with Azure */

/**************************** Accelerate your migration and modernisation with Azure */
.tools-body div:nth-child(2) {
    text-align: center;
}
.tools-body h2 {
    margin: 32px 0 15px 0;
}
.button-w-blue {
    width: 100%;
}
/**************************** On-premises, hybrid, multicloud, or at the edge—create secure, future-ready cloud solutions on Azure */
.on-premise-grid {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    /* grid-auto-flow: column; */
}
/* .on-premise-grid1 {
    grid-row-start: 1;
    grid-row-end: 1;
} */
.on-premise-grid1 {
    display: flex;
    align-items: center;
    padding: 0;
}

.on-premise-grid img {
    width: 68px;
}
.on-premise-grid1 div:nth-child(2) {
    padding: 24px 24px 24px 12px;
}
.on-premise-button span {
    padding-bottom: 24px;
}

/**************************** Discover what is happening on Azure */
.discover-grid {
    grid-template-columns: 75vw 75vw 75vw 75vw 75vw 75vw 5vw;
    grid-auto-flow: column;
    width: 100vw;
    overflow: hidden;
    overflow-x: scroll;
    /* scroll-margin-bottom: 20px; */
}
.discover-grid a {
    margin: 0 0 36px 0;
}
.g-grid-normal img,.g-grid-back img {
    object-fit: cover;
    /* min-width: 300px; */
    /* width: auto; */
    min-height: 150px;
    border-radius: 6px 6px 0 0;
}
.g-grid-back p:nth-of-type(1) {
    display: block;
    color: #4c4c51;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
    padding: 0px 12px;
    text-decoration: underline white;
}
.g-grid-back p:nth-of-type(2) {
    position: relative;
    color: #4c4c51;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    padding: 0px 12px;
    text-decoration: underline white;
}
/**************************** azure-support */
.azure-support img {
    max-width: 36px;
    height: 36px;
}
.azure-support div {
    display: flex;
    align-items: center;
}
.azure-support h3 {
    margin: 0;
    padding-left: 20px;
}

/*** FOOTER ***/


}
