:root {
    --color-white:#fff;
    /* --color-gray:#f8f9fa; */
    --color-gray:#4c4c51;
    --color-black:#000000;
    --color-blue:#0078d4;
    --common-padding:0 15px;
    --container-width:86.5%;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Segoe UI',SegoeUI,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.flex-item {
    display: flex;
    align-items: center;
}

.flex-justify {
    display: flex;
    justify-content: center;
}

.flex-justify-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
}


/*** HEADER ***/
header {
    width: 100%;
    background-color: var(--color-white);
    color: var(--color-gray);
}

.header-container {
    width: var(--container-width);
}

/* nav menu */
.header-container nav:first-child {
    padding: 0 12px;
}

.header-container a {
    color: var(--color-gray);
}

.header-container img {
    height: 24px;
    float: left;
}

.header-name {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    padding: 0 0 0 24px;
    color: var(--color-black);
    /* color: #1a1a1f; */
}

.header-container ul {
    margin: 2px;
    display: flex;
    align-items: center;
    list-style-type: none;
}

.header-container ul a {
    border-style:dashed;
    border-color: var(--color-white);
    border-width: 1px;
    padding: 0 6px 0 0;
}
.header-container ul a:target {
    border-color: var(--color-black);
    background-color: #f4f5f6;
    /* transition: transform .25s 0s; */
}

.header-container ul a:target button::after {
    /* background-color: #89c402;
    color: #9bdd02; */
    transform: rotate(270deg);
    transition: transform .25s 0s;
}

.header-container ul a:active {
    border-color: var(--color-black);
}

.header-container ul a:target div {
    display: flex;
}

.nav-button {
    all: unset;
    cursor: pointer;
    font-size: 13px;
    font-weight: 400;
    padding: 16px 7px 16px 6px;
}
.nav-button2 {
    all: unset;
    cursor: pointer;
    font-size: 13px;
    font-weight: 400;
    padding: 16px 7px 16px 6px;
}

.nav-button::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 1L9 6L4 11' stroke='black'/%3E%3C/svg%3E");
    content: "";
    width: 8px;
    height: 8px;
    margin: 5px 0 0 4px;
    transform:rotate(90deg);
    display: inline-block;
    position: absolute;
}

/* .nav-button:active::after {
    transform: rotate(270deg);
    transition: transform .25s 0s;
} */

.nav-second {
    display: flex; 
    justify-content: flex-end; 
    width: 100%;
}

.nav-form div {
    background-color: #f8f9fa;
    border-radius: 4px;
    min-height: 32px;
    width: 100%;
    border: 1px solid #747479;
}

.nav-form input {
    background-color: #f8f9fa;
    color: var(--color-gray);
    font-size: 13px;
    margin: 5px 24px 5px 12px;
    width: 100%;
    max-width: 60px;
    border: none;
    outline: none;
}

.button-free{
    background-color: #89c402;
    border: 1px solid #6f9e02;
    border-radius: 4px;
    color: #1a1a1f;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    padding: 9px;
    line-height: 1;
    text-align: center;
}

.button-free:hover {
    background-color: #9bdd02;
    text-decoration: underline;
}
.dropdown-container {
    left: 0;
    position: absolute;
    width: 100%;
    height: auto;
    display: none;
    justify-content: center;
    z-index: 999;
}

.dropdown {
    margin: 3px 0;
    padding: 0 15px;
    background-color: #f4f5f6;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 25%);
    width: var(--container-width);
}

/* .nav-form input:focus {
    background-color: #0078d4;
    max-width: 600px;
} */

/* .nav-form input:focus + .header-container nav:first-child {
    display: none;
} */

.nav-form button {
    /* background-color: #747479; */
    all: unset;
}

.nav-form img {
    height: 15px;
    width: auto;
    padding: 0 6px;
}






/*** MAIN CONTENT ***/
/* common elements */
.card {
    /* background-color: #fff; */
    box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
    border-radius: 6px;
    /* color: #4c4c51; */
    border: 1px solid transparent;
}

.card:hover {
    transition: all .2s ease-in-out;
    box-shadow: 0 5px 10px rgb(0 0 0 / 14%);
}

/* explore azure */
.explore-azure {
    background-color: var(--color-blue);
    text-align: center;
    padding: 12px 15px;
    font-size: 14px;
}

.explore-azure a{
    color: var(--color-white);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    align-items: center;
    text-decoration: none;
}

.explore-azure:hover {
    text-decoration: underline;
}

.explore-azure a::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 1L9 6L4 11' stroke='%23ffffff'/%3E%3C/svg%3E");
    content: '';
    background-repeat: no-repeat;
    margin: 5px 0 0 4px;
    width: 12px;
    height: 12px;
    display: inline-flex;
    position: absolute;
    vertical-align: middle;
}

.explore-azure a:hover::after {
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    margin-left: 0.4em;
}

/* AZURE. INVENT WITH PURPOSE. */
.body-banner {
    
}

.banner {
    background-size: cover;
    /* background-position: center; */
    /* position: relative; */
    /* object-fit: cover; */
    height: 94vh;
    width: auto;
    background-position: center;
    overflow: hidden;
    background-image: url('https://azurecomcdn.azureedge.net/cvt-fd2414f5ea9d56832851d60ff2d20c3d07cf2953323fd82ec078346eaee0781f/images/page/home/hero-desktop.webp');
}

.banner-img {
    
}

/* .banner img{
    object-fit: cover;
    height: 100%;
    width: 100%;
} */

.body-banner-text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.banner-text {
    width: var(--container-width);
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 50%; */
}

/* On-premises, hybrid, multicloud, or at the edge—create secure, future-ready cloud solutions on Azure */
.body-on-premise {
    /* width: var(--container-width); */
    display: flex;
    justify-content: center;
}

.on-premise {
    width: var(--container-width);
    /* display: flex; */
    /* justify-content: center; */
}

.on-premise-grid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 30px;
    row-gap: 24px;
}

.on-premise-grid1 {
    grid-row-start: 1;
    grid-row-end: 3;
}


/*** FOOTER ***/

/***************************************/

/**** design change less than 1310px ****/
@media only screen and (max-width: 1310px) {
/*** HEADER ***/
/* nav menu */
    
/*** MAIN CONTENT ***/
    
/*** FOOTER ***/
    
}


/**** design change less than 1310px ****/
@media only screen and (max-width: 1310px) {
    /*** HEADER ***/
    .header-container {
        width: 100%;
    }
    /* nav menu */
        
    /*** MAIN CONTENT ***/
        
    /*** FOOTER ***/
        
    }



/**** design change less than 1080px ****/
@media only screen and (max-width: 1080px) {
/*** HEADER ***/

/* nav menu */
    
/*** MAIN CONTENT ***/
    
/*** FOOTER ***/
    
}



/**** design change less than 960px ****/
@media only screen and (max-width: 960px) {
/*** HEADER ***/
/* nav menu */

/*** MAIN CONTENT ***/

/*** FOOTER ***/

}


/**** for mobile phones ****/
@media only screen and (max-width: 768px) {

/*** HEADER ***/
header {
    height: 78px;
}

.header-container nav {
    display: none;
}
/* nav menu */

/*** MAIN CONTENT ***/

/*** FOOTER ***/
    
}